//  React-MD config
@import '~react-md/src/scss/react-md';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
// Custom Styles
@import 'normalize';
@import 'layout';


$md-light-theme: true; // optional for light theme
$md-primary-color: #ff009f;
$md-secondary-color: #d3d3d3;
//  Disable material design color compliance warnings
$md-colors-warn-md: false;

@include react-md-everything;
